# See https://help.github.com/ignore-files/ for more about ignoring files.
node_modules
# package-lock.json
yarn.lock
pnpm*
bun.*
#dist
dist
build

#env
.env
.env.bak
.env.local
.env.development.local

# Logs
*.log

# prisma
client_generated
